{{- $currentPage := . }}
<nav class="nav">
  <div class="logo">
    {{- with site.Params.logo }}
    <a href="{{ site.BaseURL }}" accesskey="h" title="{{ site.Title }} (Alt + H)">
      {{- with .url }}<img src="{{ . }}" alt="{{ site.Title }}" aria-label="logo">{{- end }}
      {{- with .text }}<span>{{ . }}</span>{{- end }}
    </a>
    {{- else }}
    <a href="{{ site.BaseURL }}" accesskey="h" title="{{ site.Title }} (Alt + H)">{{ site.Title }}</a>
    {{- end }}
  </div>
  <ul id="menu">
    {{- range site.Menus.main }}
    <li>
      <a href="{{ .URL | absURL }}"
        title="{{ .Title }}"
        {{- if strings.HasPrefix .URL "http" }} target="_blank" rel="noopener noreferrer"{{- end }}>
        {{- .Name }}
        {{- if strings.HasPrefix .URL "http" }}&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/><polyline points="15 3 21 3 21 9"/><line x1="10" y1="14" x2="21" y2="3"/></svg>{{- end }}
      </a>
    </li>
    {{- end }}
  </ul>
</nav>